*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* letter-spacing: 1px; */
   
}

.dive{
    margin: 0%;
    line-height: 45px;
}

.college{
    margin: 0%;
    line-height: 35px;
}

.enquiry{
    background-color:rgba(30, 30, 247, 0.801);
    color: white;
    border-radius: 7px; 
    width: 170px;
    height: 45px;
    padding: 10px;
}

.pursuing{
    font-size: 15px; 
    margin: 0%; 
    line-height:30px;
}

.contact{
    background-color:rgba(105, 105, 236, 0.991);
    color: white;
     width: 170px;
     height: 45px;
}

.us{
    padding: 15px;
    font-size: larger;
}

.small{
    background-color: rgba(15, 15, 179, 0.95);
    width: 28px;
    height: 9px;
    border-radius: 30px;
}




@media (max-width:1025px) {
   .training img{
        width: 100%;
    }

    .trainer img{
        width: 15%;
    }


    .skew1{
      display: none;
        
        }

       

}

.trainer h5{
    font-size: small;
}

.trainer p{
    font-size: small;
}

button:hover{
cursor: pointer;

}

.enquiry{
    box-shadow: 4px 4px 4px 4px black;
}

.contact{
    box-shadow: 4px 4px 4px 4px black;
}


 /* .asked img{
    position: absolute;
    width: 20%;
    z-index: 0;
    margin-left: 170px;
    border-radius: 20px;
    z-index: 0;

}
.question{
    position:absolute;
   z-index: 3;
   

}

.freak{
    position: absolute;
    width: 1005px;
    z-index: 5;
}   */

.skew1{
transform: skewX(-25deg);
color: white;
 width: 160px;   
 font-size: larger;
 background-color:rgba(15, 15, 179, 0.95) ;
 border-radius: 10px;
}

.ans{
    margin: 0%; 
   padding: 0%;
    border-left: 5px solid rgba(15, 15, 179, 0.95);
    background-color: rgba(0, 0, 255, 0.215);
    font-size: small;
}